<div id="filter">
    <div id="filter-title">
        <img id="timer-image" src="assets/images/icon-hour.png">
        <h6>Horário</h6>
    </div>
    <div id="filter-selection">
        <h3>Qual período quer treinar?</h3>
    </div>
    <form>
        <div class="form-selection">
            <input type="checkbox" id="labelMorning">
            <label for="labelMorning">Manhã</label>
            <h5 id="time">06:00 ás 12:00</h5>
        </div>
        <div class="form-selection">
            <input type="checkbox" id="labelTarde">
            <label for="labelTarde">Tarde</label>
            <h5 id="time">12:01 ás 18:00</h5>
        </div>
        <div class="form-selection">
            <input type="checkbox" id="labelNight">
            <label for="labelNight">Noite</label>
            <h5 id="time">18:01 ás 23:00</h5>
        </div>
    </form>

    <div class="buttons">
        <button id="find-unit">ENCONTRAR UNIDADE</button>
        <button id="clean-filter">LIMPAR</button>
    </div>
</div>
